In [1]:
# ESADE - Master in Business Analytics and Big Data
# Recommendation Systems
# Building a Non Personalized Recommendation Engine
#
# @ [ David Asi ]
#

# imports the libraries
import csv
import numpy as np

# Building and exploring the Critics Dataset

In [165]:
# builds the critics data set
input_file = csv.DictReader(open("./movieratings.csv"))
critics = {}
for row in input_file:
    key = row.pop('User')
    if not key in critics:
        critics[key] = {}
        for item in row:
            if row[item]!='':critics[key][item] = float(row[item])

In [166]:
# Inspect the data to also compare mean of each movie with calculated average rating
import pandas as pd
data = pd.read_csv("./movieratings.csv")
(data.describe())

,260: Star Wars: Episode IV - A New Hope (1977),1210: Star Wars: Episode VI - Return of the Jedi (1983),356: Forrest Gump (1994),"318: Shawshank Redemption, The (1994)","593: Silence of the Lambs, The (1991)",3578: Gladiator (2000),1: Toy Story (1995),2028: Saving Private Ryan (1998),296: Pulp Fiction (1994),1259: Stand by Me (1986),2396: Shakespeare in Love (1998),2916: Total Recall (1990),780: Independence Day (ID4) (1996),541: Blade Runner (1982),1265: Groundhog Day (1993),"2571: Matrix, The (1999)",527: Schindler's List (1993),"2762: Sixth Sense, The (1999)",1198: Raiders of the Lost Ark (1981),34: Babe (1995)
count,15.000000,14.000000,10.000000,10.000000,16.00000,12.000000,17.000000,11.000000,11.000000,11.000000,11.000000,12.000000,13.000000,9.000000,12.000000,12.000000,12.000000,12.000000,11.000000,10.000000
mean,3.266667,3.000000,2.700000,3.600000,3.06250,2.916667,2.823529,3.000000,3.000000,2.636364,2.909091,1.916667,2.769231,3.222222,3.166667,2.833333,3.000000,2.833333,2.909091,3.000000
std,1.387015,1.467599,1.337494,1.646545,1.28938,1.564279,1.131111,1.414214,1.183216,1.501514,1.513575,0.996205,1.235168,1.092906,1.585923,1.527525,1.595448,1.642245,1.578261,1.414214
min,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,2.000000,2.000000,2.000000,2.500000,2.00000,1.750000,2.000000,2.000000,2.000000,1.000000,2.000000,1.000000,2.000000,2.000000,2.000000,1.750000,2.000000,1.000000,1.500000,2.000000
50%,4.000000,3.000000,2.500000,4.000000,3.00000,3.000000,2.000000,3.000000,3.000000,3.000000,3.000000,2.000000,3.000000,3.000000,3.000000,2.500000,2.500000,3.000000,3.000000,2.500000
75%,4.000000,4.000000,3.750000,5.000000,4.00000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,2.250000,4.000000,4.000000,5.000000,4.000000,5.000000,4.250000,4.000000,4.000000
max,5.000000,5.000000,5.000000,5.000000,5.00000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,4.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000

In [167]:
# Inspect the dataframe structure
data.head()

,User,260: Star Wars: Episode IV - A New Hope (1977),1210: Star Wars: Episode VI - Return of the Jedi (1983),356: Forrest Gump (1994),"318: Shawshank Redemption, The (1994)","593: Silence of the Lambs, The (1991)",3578: Gladiator (2000),1: Toy Story (1995),2028: Saving Private Ryan (1998),296: Pulp Fiction (1994),...,2396: Shakespeare in Love (1998),2916: Total Recall (1990),780: Independence Day (ID4) (1996),541: Blade Runner (1982),1265: Groundhog Day (1993),"2571: Matrix, The (1999)",527: Schindler's List (1993),"2762: Sixth Sense, The (1999)",1198: Raiders of the Lost Ark (1981),34: Babe (1995)
0,755: John,1.0,5.0,2.0,NaN,4.0,4.0,2.0,2.0,NaN,...,2.0,NaN,5.0,2.0,NaN,4.0,2.0,5.0,NaN,NaN
1,5277: Maria,5.0,3.0,NaN,2.0,4.0,2.0,1.0,NaN,NaN,...,3.0,2.0,2.0,NaN,2.0,NaN,5.0,1.0,3.0,NaN
2,1577: Anton,NaN,NaN,NaN,5.0,2.0,NaN,4.0,NaN,NaN,...,NaN,1.0,4.0,4.0,1.0,1.0,2.0,3.0,1.0,3.0
3,4388: Roger,NaN,3.0,NaN,NaN,NaN,1.0,2.0,3.0,4.0,...,NaN,4.0,1.0,3.0,5.0,NaN,5.0,1.0,1.0,2.0
4,1202: Martina,4.0,3.0,4.0,1.0,4.0,1.0,NaN,4.0,NaN,...,5.0,1.0,NaN,4.0,NaN,3.0,5.0,5.0,NaN,NaN

# Definition of Algorithms

In [168]:
from collections import defaultdict

In [170]:
# Algorithms

# Mean Rating: Calculate the mean rating for each movie, order with the highest rating listed first, and submit the top n.

# Output example:
# [ (4.2000000000000001, '222: The Matrix'), 
#   (3.5999999966666622, '233: Alien'), 
#   (3.3343434322222223, '3434: The Silence of the Lambs'), 
#   (3.2222222222222222, '111: The Water Divider'), 
#   (3.0022332223330625, '333: , Robocop')]

def topMean(prefs, n=5):
    
  # TODO

    dict = defaultdict(list)
    scores = []
    
    for k, v in prefs.items():
        for i in v:
            dict[i].append(v[i])

    for m, r in dict.items():
        scores.append((sum(r) / len(r),m))

    scores.sort(reverse=True)
    
    return scores[0:n]

topMean(critics)

[(3.6, '318: Shawshank Redemption, The (1994)'),
 (3.2666666666666666, '260: Star Wars: Episode IV - A New Hope (1977)'),
 (3.2222222222222223, '541: Blade Runner (1982)'),
 (3.1666666666666665, '1265: Groundhog Day (1993)'),
 (3.0625, '593: Silence of the Lambs, The (1991)')]

In [7]:
# % of ratings r+: Calculate the percentage of ratings for each movie that are r or higher. Order with the highest percentage first, and submit the top n.

# Output example:
# [ (0.8, '112: The Matrix'), 
#   (0.6663732233233444, '232: Star Wars: Episode IV'), 
#   (0.6, '232: Blade Runner'), 
#   (0.4534343343344433, '111: Gladiator'), 
#   (0.4, '555: Alien')]

def topPerc(prefs,r=3,n=5):
    
  # TODO

    scores = []
    ratings = defaultdict(list)
    dict = defaultdict(list)
    
    for k, v in prefs.items():
        for i in v:
            dict[i].append(v[i])    
    
    for key, value in dict.items():
        
         for i in value:
                if i >= r:
                    ratings[key].append(i)
    
    for key, value in ratings.items():
        scores.append((len(value) / len(dict[key]),key))

    scores.sort(reverse=True)
    
    return scores[0:n]

topPerc(critics)

[(0.7, '318: Shawshank Redemption, The (1994)'),
 (0.6666666666666666, '541: Blade Runner (1982)'),
 (0.6666666666666666, '260: Star Wars: Episode IV - A New Hope (1977)'),
 (0.6428571428571429,
  '1210: Star Wars: Episode VI - Return of the Jedi (1983)'),
 (0.6363636363636364, '296: Pulp Fiction (1994)')]

In [8]:
# Rating Count: Count the number of ratings for each movie, order with the most number of ratings first, and submit the top n.
# Output example:
# [ (27.0, '1: Toy Story'), 
#   (24.0, '112: Independency Day'), 
#   (20.0, '334: Alien'), 
#   (15.0, '222: Gladiator'), 
#   (12.0, '2333: I Robot')]

def topCount(prefs,n=5):
  # TODO

  scores = []
  ratings = defaultdict(list)
  dict = defaultdict(list)
    
  for k, v in prefs.items():
    for i in v:
        dict[i].append(v[i])   

  for key, value in dict.items():
    ratings[key].append(i)
    scores.append((float(len(value)),key))

  scores.sort(reverse=True)

  return scores[0:n]

topCount(critics)

[(17.0, '1: Toy Story (1995)'),
 (16.0, '593: Silence of the Lambs, The (1991)'),
 (15.0, '260: Star Wars: Episode IV - A New Hope (1977)'),
 (14.0, '1210: Star Wars: Episode VI - Return of the Jedi (1983)'),
 (13.0, '780: Independence Day (ID4) (1996)')]

In [34]:
# Top 5 Movies related: Calculate movies that most often occur with 
# other movie, Star Wars: Episode IV - A New Hope (1977) by defautl
# using the (x+y)/x method. In other words, for each movie, calculate the 
# percentage of the other movie raters who also rated that movie. Order with 
# the highest percentage first, and submit the top 5.
#
# Output example:
# [ (0.9444333333222223, '1: Star Wards, Episode VI'), 
#   (0.9111111111666667, '2210: Star Wars: Episode VI - Return of the Jedi'), 
#   (0.8833333333333333, '2593: Indiana Jones'), 
#   (0.7444444444444444, '1780: Total Recall'), 
#   (0.5999999666666666, '3916: I Robot')]

# Return the top n movies that are related to a specific one. 
# Calculate movies that most often occur with other movie.

from collections import Counter

def topOccur(prefs,x = '260: Star Wars: Episode IV - A New Hope (1977)', n=5):

  # TODO
  scores = []  
  store = defaultdict(list)   # Stores x and filters by occurences when x was watched, together with other movies the user watched

  for k, v in prefs.items():
        for m, r in v.items():
            if x in v:
                store[x].append(m)

  inter_scores = Counter(store[x]) # Stores count of each movie's appearance within store variable
  store_2 = defaultdict(list)      # Stores ratio of how many times other movies were watched when the user watched x (unformatted)

  for k, v in inter_scores.items():
    store_2[k].append((v / inter_scores[x]))
    scores.append((store_2[k][0],k))  # Stores ratio of how many times other movies were watched when the user watched x (formatted)

  scores.sort(reverse = True)
  scores.remove((1.0, x))
    
  return scores[0:n]

topOccur(critics)

[(0.9333333333333333, '1: Toy Story (1995)'),
 (0.8666666666666667,
  '1210: Star Wars: Episode VI - Return of the Jedi (1983)'),
 (0.8, '593: Silence of the Lambs, The (1991)'),
 (0.7333333333333333, '780: Independence Day (ID4) (1996)'),
 (0.6666666666666666, '2916: Total Recall (1990)')]

# Application of Functions to large data sets
- As a next step, I will investigate how efficiently my functions work for larger datasets
- For this purpose, I downloaded movielens examples datasets (1 Mio and 10 Mio datapoints)
- First, I transformed the datasets into the required format that I used for my functions (dictionaries)
- Then, I executed the functions and recorded the execution time

### Define functions to load and transform the large datasets

In [193]:
import pandas as pd

# Load movies data: ID, movie, genre

def load_datasets(movie_data, user_data, rating_data):
    global movies, ratings
    movies = pd.read_csv(movie_data, sep='::', names = ['ID','Movie','Genre'],encoding='latin-1')

# Load user data: ID, age, sex, occupation, zip_code
    u_cols = ['user_id', 'age', 'sex', 'occupation', 'zip_code']
    users = pd.read_csv(user_data, sep='::', names=u_cols, encoding='latin-1')

# Load ratings data: User ID, Movie ID, rating, timestamp
    r_cols = ['user_id', 'movie_id', 'rating', 'unix_timestamp']
    ratings = pd.read_csv(rating_data, sep='::', names=r_cols, encoding='latin-1')

In [194]:
# Create one merged DataFrame
def create_dataset(movies, ratings):
    global movie_ratings
    movie_ratings = movies.merge(ratings,left_on = 'ID',right_on = 'movie_id')
    print('The shape of the dataset is:' + str(movie_ratings.shape))

In [195]:
# Reshape dataframe so it has the same format as the initial dataset: User as index, movie as column
# Output: Sparse matrix with many missing values
def transform_dataset(movie_ratings):
    movie_mio = movie_ratings.pivot_table(index="user_id", columns="Movie", values="rating",aggfunc='mean')
    movie_mio.to_csv('./movie_mio.csv')

### Measuring duration of function execution for the initial dataset

In [76]:
# Conducting all functions at once on the small dataset requires a total of 0.001 seconds
start_time = datetime.now()

print(topMean(critics))
print(topPerc(critics))
print(topCount(critics))
print(topOccur(critics, x = 'Star Wars: Episode IV - A New Hope (1977)'))

end_time = datetime.now()
print('Time to execute: {}'.format(end_time - start_time))

[(3.6, '318: Shawshank Redemption, The (1994)'), (3.2666666666666666, '260: Star Wars: Episode IV - A New Hope (1977)'), (3.2222222222222223, '541: Blade Runner (1982)'), (3.1666666666666665, '1265: Groundhog Day (1993)'), (3.0625, '593: Silence of the Lambs, The (1991)')]
[(0.7, '318: Shawshank Redemption, The (1994)'), (0.6666666666666666, '541: Blade Runner (1982)'), (0.6666666666666666, '260: Star Wars: Episode IV - A New Hope (1977)'), (0.6428571428571429, '1210: Star Wars: Episode VI - Return of the Jedi (1983)'), (0.6363636363636364, '296: Pulp Fiction (1994)')]
[(17.0, '1: Toy Story (1995)'), (16.0, '593: Silence of the Lambs, The (1991)'), (15.0, '260: Star Wars: Episode IV - A New Hope (1977)'), (14.0, '1210: Star Wars: Episode VI - Return of the Jedi (1983)'), (13.0, '780: Independence Day (ID4) (1996)')]
[]
Time to execute: 0:00:00.001142

### Measuring duration of function execution for the 1mio and 10mio datasets

In [62]:
# Transform the 1 mio dataset file into dictionary as for initial dataset 
import csv

load_datasets(movie_data = './movies_1mio.dat',user_data = './users 1mio.dat',rating_data = './ratings_1mio.dat')
create_dataset(movies, ratings)
transform_dataset(movie_ratings)

input_file = csv.DictReader(open("./movie_mio.csv"))
critics = {}
for row in input_file:
    key = row.pop('user_id')
    if not key in critics:
        critics[key] = {}
        for item in row:
            if row[item]!='':critics[key][item] = float(row[item])

In [63]:
# Conducting all functions at once on the 1 mio items dataset requires a total of 0.85 seconds
start_time = datetime.now()

print(topMean(critics))
print(topPerc(critics))
print(topCount(critics))
print(topOccur(critics, x = 'Star Wars: Episode IV - A New Hope (1977)'))

end_time = datetime.now()
print('Time to execute: {}'.format(end_time - start_time))

[(5.0, 'Ulysses (Ulisse) (1954)'), (5.0, 'Song of Freedom (1936)'), (5.0, 'Smashing Time (1967)'), (5.0, 'Schlafes Bruder (Brother of Sleep) (1995)'), (5.0, 'One Little Indian (1973)')]
[(1.0, 'Zero Kelvin (Kjærlighetens kjøtere) (1995)'), (1.0, 'Yankee Zulu (1994)'), (1.0, "Wooden Man's Bride, The (Wu Kui) (1994)"), (1.0, 'With Friends Like These... (1998)'), (1.0, 'Window to Paris (1994)')]
[(3428.0, 'American Beauty (1999)'), (2991.0, 'Star Wars: Episode IV - A New Hope (1977)'), (2990.0, 'Star Wars: Episode V - The Empire Strikes Back (1980)'), (2883.0, 'Star Wars: Episode VI - Return of the Jedi (1983)'), (2672.0, 'Jurassic Park (1993)')]
[(0.7873620862587764, 'Star Wars: Episode V - The Empire Strikes Back (1980)'), (0.706452691407556, 'Star Wars: Episode VI - Return of the Jedi (1983)'), (0.6593112671347375, 'Raiders of the Lost Ark (1981)'), (0.6379137412236711, 'Matrix, The (1999)'), (0.6315613507188231, 'Terminator 2: Judgment Day (1991)')]
Time to execute: 0:00:00.854143

In [196]:
# Transform the 10 mio dataset file into dictionary as for initial dataset
load_datasets(movie_data = './movies_10mio.dat',user_data = './users 1mio.dat',rating_data = './ratings_10mio.dat')
create_dataset(movies, ratings)
transform_dataset(movie_ratings)

input_file = csv.DictReader(open("./movie_mio.csv"))
critics = {}
for row in input_file:
    key = row.pop('user_id')
    if not key in critics:
        critics[key] = {}
        for item in row:
            if row[item]!='':critics[key][item] = float(row[item])

<ipython-input-193-50634623dc21>:7: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  movies = pd.read_csv(movie_data, sep='::', names = ['ID','Movie','Genre'],encoding='latin-1')
<ipython-input-193-50634623dc21>:11: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  users = pd.read_csv(user_data, sep='::', names=u_cols, encoding='latin-1')
<ipython-input-193-50634623dc21>:15: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  ratings = pd.read_csv(rating_data, sep='::', names=r_cols, encoding='latin-1')

The shape of the dataset is:(10000054, 7)

In [113]:
# Conducting all functions at once on the 10 mio items dataset requires a total of 8.5 seconds
start_time = datetime.now()

print(topMean(critics))
print(topPerc(critics))
print(topCount(critics))
print(topOccur(critics, x = 'Star Wars: Episode IV - A New Hope (1977)'))

end_time = datetime.now()
print('Time to execute: {}'.format(end_time - start_time))

[(5.0, 'Sun Alley (Sonnenallee) (1999)'), (5.0, 'Shadows of Forgotten Ancestors (1964)'), (5.0, "Satan's Tango (SÃ¡tÃ¡ntangÃ³) (1994)"), (5.0, 'Fighting Elegy (Kenka erejii) (1966)'), (5.0, 'Blue Light, The (Das Blaue Licht) (1932)')]
[(1.0, 'loudQUIETloud: A Film About the Pixies (2006)'), (1.0, 'Zona Zamfirova (2002)'), (1.0, 'Zombie and the Ghost Train (Zombie ja Kummitusjuna) (1991)'), (1.0, 'Zen Noir (2004)'), (1.0, 'You, the Living (Du levande) (2007)')]
[(34864.0, 'Pulp Fiction (1994)'), (34457.0, 'Forrest Gump (1994)'), (33668.0, 'Silence of the Lambs, The (1991)'), (32631.0, 'Jurassic Park (1993)'), (31126.0, 'Shawshank Redemption, The (1994)')]
[]
Time to execute: 0:00:08.541220

# Findings
- The execution time of the functions (if all are executed at once) increases from 0.001s (initial dataset) to 0.85s (dataset with 1 mio entries) and finally to 8.5s (dataset with 10 mio entries)
- The functions are not efficient enough to work at scale and need to be adjusted
- Also, the initial data transformation to the required format the function uses is computationally very expensive

# Next Steps and potential solutions to improve computational efficiency
- Instead of looking at the entire dataset (with 1 mio / 10 mio entries), one could also apply a sampling technique to only use a (representative) random input sample for the function (for instance with the random.sample function from the "random" library).
- Convert dictionary / pandas dataframe to a numpy matrix: In general, vector and matrix operations are more efficient than (nested) for loops, thus it would make sense to re-write the functions for use with numpy.
- In general, built-in functions in Python are more efficient: e.g. my mean calculation in the topMean function could be replaced by the built-in average function

### Transform dataset to numpy array

In [199]:
# Transform dictionary to numpy array
import numpy as np
array = np.array(list(critics.items()))

In [200]:
# Example: Top percentage function with numpy array and 10 mio dataset
# Measure time of execution: 4.1 seconds

start_time = datetime.now()
def numpyPerc(prefs,r=3,n=5):
    
  # TODO

    scores = []
    ratings = defaultdict(list)
    dict = defaultdict(list)
    
    for k, v in array: # Here, array is used instead of dictionary
        for i in v:
            dict[i].append(v[i])    
    
    for key, value in dict.items():
        
         for i in value:
                if i >= r:
                    ratings[key].append(i)
    
    for key, value in ratings.items():
        scores.append((len(value) / len(dict[key]),key))

    scores.sort(reverse=True)
    
    return scores[0:n]

numpyPerc(array)
end_time = datetime.now()
print('Time to execute: {}'.format(end_time - start_time))

Time to execute: 0:00:04.124981

In [198]:
# Compare with execution time for the original top percentage function and 10 mio dataset
# Measure time of execution: 4.9 seconds
start_time = datetime.now()

topPerc(critics)

end_time = datetime.now()
print('Time to execute: {}'.format(end_time - start_time))

Time to execute: 0:00:04.938486

### Findings
- In the example of the TopPerc function, the function works faster on the vectorized numpy array compared to the original dictionary format
- Vectorization executes mathemtical operations in the function (as here the division of len(value) / len(dict[key]) over an entire array rather than all individual elements.